@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-workspace: var(--workspace);
    --color-slate-light: var(--slate-light);
    --color-slate-light-alpha: var(--slate-light-alpha);
    --color-shadow-color: var(--shadow-color);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
    --workspace: oklch(1 0 0);
    --slate-light: oklch(0.983 0.0026 286.35);
    --slate-light-alpha: oklch(0.138 0.0956 264.05 / 0.15);
    --shadow-color: oklch(0 0 0 / 0.12);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    /*--destructive: oklch(0.704 0.191 22.216);*/
    --destructive: oklch(0.637 0.237 25.331);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --workspace: #101011;
    --slate-light: oklch(0.196 0 89.876);
    --slate-light-alpha: oklch(1 0 89.88 / 0.15);
    --shadow-color: oklch(0.65 0 89.876 / 0.12);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    * {
        @apply border-border;
    }

    body {
        @apply !mb-0 bg-background text-foreground;
    }

    #workspace-scroll-area [data-radix-scroll-area-viewport] > div {
        min-height: 100% !important;
        height: 100%;
        display: flex !important;
        flex-direction: column !important;
    }
}

@layer utilities {
    .layout-container {
        @apply mx-auto max-w-7xl;
    }

    .shadow-dialog {
        --tw-shadow:
            0px 0px 0px 1px var(--tw-shadow-color, #01213921), 0px 0px 0px 7px var(--tw-shadow-color, #ffffff4d),
            0px 64px 24px 0px var(--tw-shadow-color, #0000), 0px 44px 22px 0px var(--tw-shadow-color, #00000005),
            0px 28px 20px 0px var(--tw-shadow-color, #00000014), 0px 17px 17px 0px var(--tw-shadow-color, #00000021),
            0px 10px 13px 0px var(--tw-shadow-color, #00000026);

        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }

    .dark .shadow-dialog {
        --tw-shadow:
            0px 0px 0px 1px rgba(115, 115, 115, 0.2), 0px 0px 0px 7px #00000066, 0px 64px 24px 0px #0000, 0px 44px 22px 0px #00000033,
            0px 28px 20px 0px rgba(0, 0, 0, 0.23), 0px 17px 17px 0px rgba(0, 0, 0, 0.26), 0px 10px 13px 0px rgba(0, 0, 0, 0.32);
    }

    .bg-stronger {
        --bg-stronger-opacity: 12%;
        background-color: color-mix(in oklab, #111113 var(--bg-stronger-opacity), transparent);
    }

    .shadow-inner {
        --tw-shadow: 0px 0px 1.5px 0.5px var(--shadow-color, #0000001f) inset;
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }

    .shadow-xs-with-border {
        --tw-shadow:
            0px 0px 0px 1px var(--shadow-color, var(--color-slate-light-alpha, #001a3329)), 0px 0px 1px 0px var(--shadow-color, #00000008),
            0px 1px 2px 0px var(--shadow-color, #0000000f);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
    
    .no-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}
